
*.xcodeproj
*.xcworkspace
*.xcuserdata/
*.xcscheme
*.xcuserdata/
*.xcuserdatad/
*.xcworkspace/
!shared.xcworkspace/
*.xcscheme
xcshareddata/
DerivedData/
Build/
*.ipa
*.app
*.dSYM
/.swiftpm
Package.resolved
Pods/
Podfile.lock
Carthage/
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
fastlane/.env
.DS_Store
*.swp
*.lock
*.log
*.xcuserstate
*.idea/
*.vscode/
*.orig
